
.portrait-column {
    flex: none;
    width: 30%;
}

.portrait {
    border-radius: 100%;
    overflow: hidden;
}

.portrait img {
    transform: scale(1.2);
}

.footer a {
    font-size: 25px;
    color: #000;
}

.publication-block {
    padding-bottom: 1em;
}

.publication-banner {
    height: 160px;
    background-size: cover;
}

.publication-header .hero-body {
    padding-bottom: 0 !important;
}

.publication-title {
    color: #000;
    width: fit-content;
    font-family: 'Google Sans', serif;
    margin: 0 !important;
    font-weight: bold;
    font-size: 18px !important;
}

.publication-venue {
    color: #555;
    width: fit-content;
    margin-top: 0;
    font-style: italic;
}

.publication-venue-emph {
    font-weight: 600;
    font-style: normal;
    color: #e63946;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.publication-image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0;
}

.publication-mousecell {
    position: relative;
    font-size: 0;
}

.publication-mousecell video {
    display: none;
}

.publication-mousecell {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-description {
    color: #333;
    margin: 0.5em 0;
}

.publication-links {
    margin: 0 !important;
    margin-top: 0.5em !important;
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.author-me {
    font-weight: 600;
}