
.footer a {
    font-size: 25px;
    color: #000;
}

.publication-title {
    margin: 10px 0 10px 0 !important;
}

.publication-banner {
    height: 160px;
    background-size: cover;
}

.publication-header .hero-body {
    padding-bottom: 0 !important;
}

.publication-title {
    color: #000;
    width: fit-content;
    font-family: 'Google Sans', serif;
    margin-bottom: 0;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
    margin-top: 0;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.publication-mousecell {
    position: relative;
}

.publication-mousecell video {
    display: none;
}

.publication-mousecell img, .publication-mousecell video {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.publication-mousecell {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-links {
    margin-top: 1em;
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}
